.hero-wrapper {
  color: white;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
}


.hero-container {
  justify-content: space-around;
  align-items: flex-end; 
}


/* left side */
.hero-left {
  gap: 3rem;
}
.hero-title {
  position: relative;
  z-index: 1;
}
.hero-title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}
.orange-circle {
  height: 4rem;
  width: 4rem;
  background: linear-gradient(270deg, 	rgb(65, 59, 52) 0%,  rgb(187, 189, 197) 100%);
  border-radius: 999px;
  position: absolute;
  right: 28%;
  top: -10%;
  z-index: -1;
}



/**************************************/
.search {
  padding: 6px;
  background-color: #FF8303;
  color: #000000;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 5px;
  
}
.search-form {
  display: flex;
  position: absolute;
  bottom: 32%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  background-color: rgba(47, 45, 45, 0.5);
  padding: 45px;
  border: 1px solid grey;
  border-radius: 5px;
}


input {
  padding: 5px 10px;
  color: #2F2D2D;
  /* opacity: 0.65; */
  margin: 5px;
  border-radius: 5px;
  position: relative;
  background: white;
  width:10rem;
}
/* /////////////////////////////// */

.localization{
  position: relative;
}
.localization input{
  padding-left: 30px
}
.localization i {
  position: absolute;
  top: 12px;
  left: 17px;
  font-size: 19px;
  z-index: 2;
  color: #FF8303;
}
/* .................................. */

.type{
  position: relative;
}
.type input{
  padding-left: 30px
}
.type i {
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 17px;
  z-index: 2;
  color: #FF8303;
}

  /* .................................. */
  .budget{
      position: relative;
    }
    .budget input{
      padding-left: 30px
    }
    .budget i {
      position: absolute;
      top: 12px;
      left: 17px;
      font-size: 19px;
      z-index: 2;
      color: #FF8303;
    }
.search-bar {
 
  align-items: center;
  background-color: rgba(102, 102, 87, 0.5);
  border-radius: 5px;
  border: 3px solid rgba(180, 180, 180, 0.374);
  padding: 0.5rem 1rem;
  width: 100%;
  justify-content: space-between;
  box-shadow:  20px 25px 36px -2px rgba(231, 205, 148, 0.25);
}
.search-bar > input {
  border: none;
  outline: none;
}
.stats{
    width: 100%;
    justify-content: space-between;
}
.stat>:nth-child(1)
{
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: #4a7fb4;
}
/* right side */

.image-container {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 15rem 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
}
.image-container>img{
    width: 100%;
    height: 100%;
}

/* mobile screens */
@media  (max-width: 640px){
  .hero-container{
    margin-top: 2rem;
  }
  .hero-title>h1{
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .image-container{
    width: 95%;
    height: 25rem;
  }
  .stats{
    justify-content: center;
    gap: 1.5rem;
    font-weight: wrap;
  }
  .stat>:nth-child(1){
    font-size: 1.5rem;
  }
  .stat>:nth-child(2)
  {
    font-size: 0.8rem;
  }
}